-f /usr/share/pip-wheels
beautifulsoup4==4.7.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
cssselect==1.0.3
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
Flask-WTF==0.14.2
html2text==2018.1.9
idna==2.8
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.11.3
lxml==4.9.1
MarkupSafe==1.1.1
nltk==3.6.6
Pillow>=7.1.0
python-dateutil==2.8.0
PyYAML==5.4
requests==2.21.0
requests-file==1.4.3
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9
tinysegmenter==0.3
tldextract==2.2.1
urllib3==1.26.5
Werkzeug==2.2.3
WTForms==2.2.1
