html, body {
  margin: 0;
}

/* Start top bar */
#top-bar {
  padding-left: 15px;
  padding-top: 15px;
}

#address {
  padding: 5px;
  border: none;
  border-bottom: 0.75px solid black;
}

#submit {
  padding: 5px;
  border: 0.75px solid #000;
  background-color: #fff;
  cursor: pointer;
}

hr {
  width: 100%;
  clear: both;
}

.container {
  width: auto;
}

/* Start article */
#article-text {
  float: left;
  max-width: 50%;
}

#article-image {
  width: 50%;
}

#article-image img {
  max-width: 400px;
}

#other-articles {
  float: left;
}

#other-articles ul {
  list-style-type: none;
}

#other-articles li {
  border: 0.75px solid #000;
  max-width: 65%;
  padding: 10px;
  margin: 1px;
}

#other-articles li:hover {
  background-color: #e8e8e8;
  cursor: copy;
}

/* Small screen */
@media screen and (max-width: 1500px) {

  #article-source {
    position: relative;
  }

}
