html, body {
  margin: 0;
  width: 100%;
}

#top-bar {
  margin: 0 0 0 0;
}

form {
  margin-bottom: 0;
  margin-top: 15px;
}

#address {
  padding: 5px;
  border: none;
  border-bottom: 0.75px solid black;
}

#submit {
  padding: 5px;
  border: 0.75px solid #000;
  background-color: #fff;
  cursor: pointer;
}

hr {
  clear: both;
}

#top-image img {
  max-width: 800px;
}
