<html>
    <head>
      {% if title %}
      <title>S4W - {{ title }}</title>
      {% else %}
      <title>Welcome to Safe4Work</title>
      {% endif %}

      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <section id="top-bar">
            <form id="url-form" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
           	    {{ form.address(size=64) }}{{ form.submit_btn() }}
                {% for error in form.address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </form>
        </section>
        <hr>
        {% block content %}{% endblock %}
    </body>
    <footer>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </footer>
</html>
