{% extends "base.html" %}

{% block content %}
    {% if article is defined %}
        <section class="container">
	        <section id="article-text">
		        <p id="article-title">Title: {{ article.title }}</p>
		        <p id="article-authors">
                    {% if article.authors|length > 1 %}
    			        Authors:
	                {% else %}
    			        Author:
 		            {% endif %}
    		        {{ article.authors|join(", ") }}
                </p>
		        <p id="article-pub-date">Published: {{ article.pub_date }}</p>
                {% for paragraph in article.text %}
    		    	<p class="article-paragraph">{{ paragraph }}</p>
		        {% endfor %}
	        </section>

    	    <section id="article-image">
	            <img src="{{ article.top_img }}">
            </section>

            <section id="other-articles">
                <ul>Recent articles from {{ article.source.brand }}:
                    {% for recent_article in article.source.articles %}
                        <li onclick="copyURL('{{ recent_article.url }}')">{{ recent_article.title }}</li>
                    {% endfor %}
                </ul>
            </section>
        </section>


    {% endif %}
{% endblock %}
