{% extends "base.html" %}

{% block content %}
    {% if article is defined %}
        <section id="article-main" style="max-width:800px">
		    <p id="article-title">Title: {{ article.title }}</p>
		    <p id="article-authors">
                {% if article.authors|length > 1 %}
			        Authors:
	            {% else %}
			        Author:
 		        {% endif %}
		        {{ article.authors|join(", ") }}
            </p>
		    <p id="article-pub-date">Published: {{ article.pub_date }}</p>
            {% for paragraph in article.text %}
		    	<p class="article-paragraph">{{ paragraph }}</p>
		    {% endfor %}
	    </section>

	    <section id="top-image">
	        <img src="{{ article.top_img }}">
	    </section>
    {% endif %}
{% endblock %}
